pipeline/AppendVariableForeach.json
{
	"name": "AppendVariableForeach",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Countries",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append Country names",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CountryName",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CountrysOutput",
					"value": {
						"value": "@variables('CountryName')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Countries": {
				"type": "array",
				"defaultValue": [
					"India",
					"Ger",
					"Aus"
				]
			}
		},
		"variables": {
			"CountryName": {
				"type": "Array"
			},
			"CountrysOutput": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-16T13:30:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}